@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "SignUp";
    // TODO: add link to LoginController to the hyperlink tag <a>
}
<!DOCTYPE HTML>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobReady</title>
    <link rel="icon" href="~/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobReady.styles.css" asp-append-version="true" />
</head>
<body>
<div class="d-flex vw-100 vh-100">
    <div class="d-flex flex-column vh-100 steps-container justify-content-between">
        <div>
        <img src="~/assets/logo/blueLogo.svg" alt="JobReady Blue Logo" class="img-resize"/>
        <div class="steps d-flex flex-column justify-content-around">
                <div class="d-flex flex-row step1 gap-2 activatedStep">
                <img src="~/icons/tick-circle.svg" alt="tick" id="tick1"/>
                <div>
                    <p>Account Type</p>
                    <p class="description">Select the account you want to create</p>
                </div>
            </div>
                <div class="d-flex flex-row step2 gap-2">
                    <img src="~/icons/tick-circle.svg" alt="tick" id="tick2" />
                    <div>
                        <p>User Information</p>
                        <p class="description">Please provide your name and email and choose password</p>
                    </div>
            </div>
                <div class="d-flex flex-row step3 gap-2">
                    <img src="~/icons/tick-circle.svg" alt="tick" id="tick3" />
                    <div>
                        <p>Profile Details</p>
                        <p class="description">Share more info within your profile!</p>
                    </div>
            </div>
                </div>
            </div>
        <div class="d-flex flex-column gap-2">

            <a role="button" class="btn btn-already-has-account">Already has an account</a>
                <p class="text-center color-light-blue">&copy; JobReady @DateTime.Now.Year</p>
        </div>
    </div>
    <div class="d-flex vh-100 form-side">

    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signup.js" asp-append-version="true"></script>
</body>
</html>