@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "SignUp";
}
<!DOCTYPE HTML>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobReady</title>
    <link rel="icon" href="~/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobReady.styles.css" asp-append-version="true" />
</head>
<body>
<div class="d-flex vw-100 vh-100">
    <div class="d-flex flex-column vh-100 steps-container">
        <img src="~/assets/logo/blueLogo.svg" alt="JobReady Blue Logo" class="img-resize"/>
        <div class="d-flex flex-row steps step1">
                <img src="~/icons/tick-circle.svg"/>
                <div class="d-flex flex-column">
                    <p>Account Type</p>
                    <p class="description">Select the account you want to create</p>
                </div>
        </div>
        <div class="d-flex flex-row steps step2"></div>
        <div class="d-flex flex-row steps step3"></div>
    </div>
    <div class="d-flex vh-100 form-side">

    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>