@model JobReady.Data.DTO.SignUpUserRegistry;
@{
    Layout = null;
    ViewData["Title"] = "notification";

}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobReady</title>
    <link rel="icon" href="~/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobReady.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="d-flex flex-lg-row flex-column vw-100 vh-100">
        <div class="d-flex flex-column vh-100 steps-container justify-content-between">
            <div>
                <img src="/assets/logo/blueLogo.svg" alt="JobReady Blue Logo" class="img-resize">
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center form-side">
            <div class="align-items-center d-flex flex-column ">
                <h1 class="notification-bar align-items-center ">
                </h1>
            </div>
                <h2 class="text  ">Your Notifications </h2>
            <div class="d-flex flex-column d-flex  flex-column align-items-center justify-content-center">
                <div class="form-step  flex-md-row">

                </div>
                <div class="form-step flex-md-row">

                </div>
                <div class="form-step  flex-md-row ">
                </div>
                <div class="form-step  flex-md-row">
                </div>
            </div>
        </div>





    </div>
</body>
</html>