<body>
    <a class="nav-link" role="button" asp-area="" asp-controller="Logout" asp-action="Logout">
        <div class="d-flex flex-row gap-3">
            <p>Sign Out</p>
        </div>
    </a>
</body>
