@{
    ViewData["Title"] = "Sign Out";
}
<link href="~/css/login.css"/>
<div class="d-flex flex-row align-items-center justify-content-center vh-100 w-100">
    <a class="submitbtn" role="button" asp-area="" asp-controller="Logout" asp-action="Logout">
            <p class="fs-1">Click To Sign Out</p>
    </a>
</div>