<p class="top-users-title">Top Users</p>
<div class="users d-flex flex-row flex-wrap gap-2">
    <partial name="_TopUsers" />
</div>
<p class="recent-posts-title">Recent Posts</p>
<div class="posts d-flex flex-column flex-wrap gap-3">
    <partial name="_Posts" />
</div>