<div class="d-flex flex-row gap-3">
    @foreach(SearchType s in Enum.GetValues(typeof(SearchType))){
    <button class="btn btn-outline-primary rounded-pill">@s.ToString()</button>
    }
</div>
<div class="d-flex flex-column gap-3 w-100">
    <p class="users-title">Users</p>
    <div class="white-bg d-flex flex-row justify-content-between align-items-center w-100">
        <div class="d-flex flex-row align-items-center gap-2 p-3 w-100">
            <img src="@Url.Action("GetProfilePicture","Profile",new {userId = "eea68224-cfa9-4b4f-a970-bfd387f335c9"})" class="user-image rounded-circle">
            <p class="username color-black">Etienne</p>
        </div>
    </div>
</div>
<div class="d-flex flex-column gap-3 w-100">
    <p class="posts-title">Posts</p>
    <div class="d-flex flex-column align-items-center w-100">
        <div class="d-flex flex-column w-100 align-items-center gap-4 posts pb-4">
            @*<partial name="_Posts"/>*@
        </div>
    </div>
</div>
<div class="d-flex flex-column gap-3 w-100">
    <p class="jobOpps-title">Job Opportunities</p>
    <div class="d-flex flex-column align-items-center w-100">
        <div class="d-flex flex-column w-100 align-items-center gap-4 jobOpps pb-4">
            <partial name="_Jobs"/>
        </div>
    </div>
</div>
