<table class="table table-hover">
    <thead class="light-blue-thead">
        <tr>
            <th scope="col" width="35%">DateTime Sent</th>
            <th scope="col">Send To</th>
            <th scope="col">Applied For</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Pending</td>
        </tr>
        <tr class="table-danger text-danger">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Rejected</td>
        </tr>
        <tr class="table-success text-success">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Accepted</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Pending</td>
        </tr>
        <tr class="align-middle">
            <th scope="row">5</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <div class="d-flex flex-row gap-3">
                    <button type="button" class="btn btn-outline-danger  d-flex flex-row align-items-center text-center">&times;</button>
                    <button type="button" class="btn btn-outline-success d-flex flex-row align-items-center justify-content-center">
                        <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 3.82996L3.83 6.65996L9.5 1" stroke="#8FFD39" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>