<table class="table color-light-white table-striped table-hover">
    <thead class="light-blue-thead">
        <tr>
            <th scope="col" width="35%">DateTime Sent</th>
            <th scope="col">Send To</th>
            <th scope="col">Applied For</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Pending</td>
        </tr>
        <tr class="table-danger text-danger">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Rejected</td>
        </tr>
        <tr class="table-success text-success">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Accepted</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Pending</td>
        </tr>
    </tbody>
</table>