@for (var i = 0; i < 7; i++)
{
    <div class="form-step d-flex flex-row justify-content-between align-items-center category-notification -notification">
        <div class="d-flex flex-row align-items-center gap-2">
            <img src="assets/images/image-placeholder.png" alt="User 1" class="user-image">
            <div class="d-flex flex-row align-items-center gap-2">
                <p class="usr-name" id="user-name">User 1</p>
                <p class="notification-content">Hello</p>
            </div>
        </div>
        <p class="p-2 notf-time">1 hour ago</p>
    </div>

}