<table class="table color-light-white table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col" width="40%">DateTime Sent</th>
            <th scope="col">Send To</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td> the Bird</td>
        </tr>
    </tbody>
</table>