@import url("root.css");

.filter-news{
    background:var(--lightwhite);
    padding:10px 20px;
    gap:4em;
    border-radius:55px;
    color:var(--grayish-blue);
    font-family:'League Gothic', sans-serif;
    cursor:pointer;
    user-select:none;
    width:380px;
}

.filter-news-item {
    gap:0.24em;
    padding: 10px 15px;
}

.filter-news-item.active{
    color:var(--lightblue);
    background-color:var(--lightblue-faded);
    border-radius:55px;
    font-size:18px;
}
    .filter-news-item.active .homepage-path {
        stroke: var(--lightblue);
    }
.jobs {
    all:unset;
    border:none;
    position:fixed;
    right: 0;
    background: var(--lightwhite);
    height: fit-content;
    width:145px;
    top: 45px;
    border-radius: 12px 0 0 12px;
    font-family: 'League Gothic', sans-serif;
    font-weight: 500;
    font-size: 1.35em;
}
.job-text-handle{
    width:120px;
}

.arrow-jobOpps-handle {
    padding-left: 5px;
}

.jobOpps {
    background: var(--lightwhite);
    position: relative;
    height:100vh;
    max-width:400px;
    width:100%;
}

.offcanvas{
    border-radius:15px 0 0 15px;
    padding:10px;
}

.offcanvas-title {
    font-family: 'League Gothic', sans-serif;
    font-size: 2.5em;
}
imageJobOpp {
    width: 80px;
    height: 80px;
}

.jobApp{
    text-decoration:none;
    color:inherit;
}

.jobApp:hover{
    color:var(--gold);
}

 .jobApp:hover .jobOpp {
    background: var(--dark-bg1);
    border-radius:10px;
}
.jobOpp{
    width:fit-content;
    padding:10px;
    transition:0.15s ease-in;
}

.location{
    font-size:14px;
}
.timeOn {
    font-size: 12px;
}

.posts{
    width:calc(100% - 200px);
}

@media only screen and (max-width:1023.5px) {
    .jobs {
        top: 150px;
    }
    .jobOpp{
        width:100%;
        margin:0;
        padding:30px;
    }
}