@import url("root.css");

.form-side {
    width: 100%;
    height:100%;
    background: #38434F;
    backdrop-filter: blur(2px);
}

.text-Setting {
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 200;
    text-align: left;
    left:30px;
}

.setting-item {
    width: 100%;
    height: 70px;
    background-color: #F4FAFF;
    border-radius:20px;
}
.password {
    width: 90%;
    height: 20px;
    background-color: #F4FAFF;
    border-radius: 20px;
    
    
}

.window {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    background-color: #38434F;
    display: none; /* Hide the window by default */
    opacity: 0.92;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    justify-content:center;
    align-items:center;
}
.text {
    color: #F4FAFF;
    margin-bottom:2px;
    margin-top:2px;
}
.submit-btn {
    margin-top: 2px;
    right: 12px;
    border-radius:15px;
    width:120px;


}
.close-btn{
    right:10px;
}