@{
    ViewData["Title"] = "Job Application";
}

<link rel="stylesheet" href="~/css/jobApplication.css"/>

<div class="d-flex flex-column gap-4 h-100 dark-main-bg px-5 py-4">
    <div class="d-flex flex-row align-items-center gap-2">
        <a role="button" asp-controller="Home" asp-action="Index">
            <img src="~/icons/arrow-circle-left.svg" class="back-arrow" />
        </a>
        <p class="color-light-blue fs-5 fw-bold">Senior React Engineer</p>
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-center w-100 gap-3">
        <img src="~/favicon.svg" class="logo-resizing rounded-circle"/>
        <div class="d-flex flex-column gap-3 ">
            <p class="company-name color-light-white fs-5 fw-bold text-lg-start text-center">Company:<br /><span class="name fs-6 fw-normal">Supportful</span></p>
            <a role="button" class="apply-btn">
                <div class="d-flex flex-row align-items-center p-1 gap-2">
                    <svg class="mx-2" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.51002 4.23001L18.07 8.51001C21.91 10.43 21.91 13.57 18.07 15.49L9.51002 19.77C3.75002 22.65 1.40002 20.29 4.28002 14.54L5.15002 12.81C5.37002 12.37 5.37002 11.64 5.15002 11.2L4.28002 9.46001C1.40002 3.71001 3.76002 1.35001 9.51002 4.23001Z" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5.44 12H10.84" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p class="color-light-white">Apply</p>
                </div>
            </a>
        </div>
    </div>
    <div class="d-flex flex-row flex-lg-column w-100 justify-content-around justify-content-lg-start gap-3">
        <div class="country d-flex flex-row align-items-center color-light-white gap-4">
            <p class="fw-bold">Country:</p>
            <p class="fw-light">Lebanon</p>
        </div>
        <div class="remote d-flex flex-row align-items-center color-light-white gap-4">
            <p class="fw-bold">Remote:</p>
            <div class="fw-light d-flex flex-row gap-1">
                <img src="~/icons/tick-circle-green.svg" width="20px"/>
                <p>Yes</p>
            </div>
        </div>
        <div class="posted d-flex flex-row align-items-center color-light-white gap-4">
            <p class="fw-bold">Posted:</p>
            <p class="fw-bold text-center">1 week ago</p>
        </div>
    </div>
    <div class="d-flex flex-column gap-3 mt-2">
       <p class="color-light-white fs-4 fw-bold">Skills</p>
       <div class="d-flex flex-row flex-wrap gap-3 w-100">
            <p class="skill">Programming</p>
            <p class="skill">Research</p>
            <p class="skill">Artificial Intelligence</p>
            <p class="skill">Network Design</p>
            <p class="skill">Algorithms</p>
            <p class="skill">LaTex</p>
            <p class="skill">Java</p>
            <p class="skill">CCNA</p>
            <p class="skill">Leadership</p>
            <p class="skill">C#</p>
       </div>
    </div>
    <div class="d-flex flex-column gap-3 mt-2">
        <p class="color-light-white fs-4 fw-bold">Job Overview</p>
        <p class="fs-6 color-light-white fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. A diam maecenas sed enim ut sem. Eu volutpat odio facilisis mauris sit amet. Purus sit amet luctus venenatis lectus magna. Viverra suspendisse potenti nullam ac tortor. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sapien pellentesque habitant morbi tristique senectus et. Adipiscing at in tellus integer feugiat scelerisque. Bibendum est ultricies integer quis auctor elit. Lacinia at quis risus sed vulputate. At erat pellentesque adipiscing commodo elit. In egestas erat imperdiet sed euismod nisi porta. Velit dignissim sodales ut eu sem integer vitae justo eget. Leo duis ut diam quam nulla porttitor. Ac feugiat sed lectus vestibulum. Rutrum quisque non tellus orci ac auctor augue mauris.</p>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary rounded-pill">Send Letter</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jobApplication.js"></script>