<div class="d-flex flex-column flex-lg-row align-items-center justify-content-between jobOpp gap-3">
    <img src="~/favicon.svg" class="rounded-5 imageJobOpp"/>
    <div class="d-flex flex-column">
        <div>
            <h5 class="color-light-blue h5">Senior React Engineer</h5>
            <h6 class="fw-normal">Supportful</h6>
        </div>
        <div>
            <p class="location">Lebanon (<span>Remote</span>)</p>
            <p class="timeOn fw-bold">1 week ago</p>
        </div>
    </div>
</div>
<hr class="color-light-blue"/>