<div class="glass-box d-flex flex-column p-4 h-auto gap-2">
    <p class="fw-bold section-title">Projects</p>
    <div id="carouselExampleControlsNoTouching" class="carousel carousel-dark" data-bs-touch="true">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="project-card d-flex flex-column gap-3">
                    <img src="~/assets/images/instagram-clone.jpg" />
                    <div class="d-flex flex-row w-100 align-items-center justify-content-between">
                        <p class="project-name">Instagram Clone1</p>
                        <a role="button" href="#" class="btn project-visit d-flex flex-row align-items-center justify-content-between" target="_blank">
                            <img src="~/icons/arrow-right-2.svg" />
                            <p>Visit Project</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="project-card d-flex flex-column gap-3">
                    <img src="~/assets/images/instagram-clone.jpg" />
                    <div class="d-flex flex-row w-100 align-items-center justify-content-between">
                        <p class="project-name">Instagram Clone</p>
                        <a role="button" href="#" class="btn project-visit d-flex flex-row align-items-center justify-content-between" target="_blank">
                            <img src="~/icons/arrow-right-2.svg" />
                            <p>Visit Project</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="project-card d-flex flex-column gap-3">
                    <img src="~/assets/images/instagram-clone.jpg" />
                    <div class="d-flex flex-row w-100 align-items-center justify-content-between">
                        <p class="project-name">Instagram Clone</p>
                        <a role="button" href="#" class="btn project-visit d-flex flex-row align-items-center justify-content-between" target="_blank">
                            <img src="~/icons/arrow-right-2.svg" />
                            <p>Visit Project</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>