<link rel="stylesheet" href="~/css/Settings.css" />

<div class="d-flex flex-column form-side w-100 p-5 gap-5">
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Edit Profile</a>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Change Password
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form asp-controller="Settings" asp-action="ChangePassword" method="post" class="d-flex flex-column gap-2">
                        <div class="form-group">
                            <label for="new-password" class="text color-black">New Password</label>
                            <input type="password" class="password" id="new-password" name="new-password" placeholder="Enter New Password">
                        </div>
                        <div class="form-group">
                            <label for="confirm-password" class="text   color-black">Confirm Password</label>
                            <input type="password" class="password" id="confirm-password" name="confirm-password" placeholder="Confirm New Password">
                        </div>
                        <button type="submit" class="submit-btn btn-primary rounded-pill">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Two-Factor Authentication</a>
    </div>
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Statistics</a>
    </div>
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Generate CV</a>
    </div>
</div>

<script src="js/Settings.js"></script>
