  
<link rel="stylesheet" href="~/css/Settings.css" />


<div class="d-flex flex-column form-side w-100 p-5 gap-5">
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Edit Profile</a>
    </div>
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Change password</a>
    </div>
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Two-Factor Authentication</a>
    </div>
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Statistics</a>
    </div>
    <div class="d-flex flex-row w-100 align-items-center setting-item">
        <a>Generate CV</a>
    </div>
 </div>

