<div class="glass-box d-flex flex-column p-4 gap-2">
    <p class="fw-bold section-title">Education</p>
    <ul class="joined-custom-list">
        <li>
            <div class="bullet">
                <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false">
                    <circle stroke="none" cx="16" cy="16" r="10"></circle>

                </svg>
            </div>
            <section class="d-flex flex-column gap-3 w-100">
                <div>
                    <h6 class="fw-bold"><span class="uni-name">School or Uni</span> | <span class="uni-location">Location</span></h6>
                    <p class="uni-time fw-bold">
                        <span class="uni-start">November 2020</span> - <span class="uni-end">October 2023</span> &#8226;
                        <span class="fw-light"><span class="calculated-time">#</span> mos.</span>
                    </p>
                </div>
                <p class="fw-light ps-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere reprehenderit iste libero velit rerum voluptatum dicta blanditiis dolore placeat enim? Est hic, officiis nulla, cum accusantium animi fugit tempore commodi nihil ex ullam consequatur repellat a iusto ut excepturi nemo rem doloremque molestias error, eveniet ipsam accusamus repellendus aliquam! Saepe!</p>
                <ul class="custom-list">
                    <li>
                        Bachelor &#8226; <span class="position-time">4</span> mos.
                    </li>
                    <li>
                        Masters &#8226; <span class="position-time">#</span> mos.
                    </li>
                    <li>
                        PhD &#8226; <span class="position-time">#</span> mos.
                    </li>
                </ul>
            </section>
        </li>
        <li>
            <div class="bullet">
                <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
            </div>
            <section class="d-flex flex-column gap-3 w-100">
                <div>
                    <h6 class="fw-bold"><span class="uni-name">School or Uni</span> | <span class="company-location">Location</span></h6>
                    <p class="uni-time fw-bold">
                        <span class="uni-start">From</span> - <span class="uni-end">To</span> &#8226;
                        <span class="fw-light"><span class="calculated-time">#</span> mos.</span>
                    </p>

                </div>
                <p class="fw-light ps-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere reprehenderit iste libero velit rerum voluptatum dicta blanditiis dolore placeat enim? Est hic, officiis nulla, cum accusantium animi fugit tempore commodi nihil ex ullam consequatur repellat a iusto ut excepturi nemo rem doloremque molestias error, eveniet ipsam accusamus repellendus aliquam! Saepe!</p>
                <ul class="custom-list">
                    <li>
                        Faculty
                    </li>
                </ul>
            </section>
        </li>
    </ul>
</div>