@model IEnumerable<ExperienceDetails>

    <div class="glass-box d-flex flex-column p-4 gap-2">
        <p class="fw-bold section-title">Experience</p>
        <ul class="joined-custom-list">
@foreach (var experience in Model){
            <li>
                <div class="bullet">
                    <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false">
                        <circle stroke="none" cx="16" cy="16" r="10"></circle>
                    </svg>
                </div>
                <section class="d-flex flex-column gap-3 w-100">
                    <div>
                        <h6 class="fw-bold"><span class="company-name">@experience.CompanyName</span> | <span class="company-location">@experience.Title</span></h6>
                        <p class="company-time fw-bold">
                            <span class="company-start">@experience.StartDate.ToString("MMMM yyyy")</span> - <span class="company-end">
                                @{
                                    var endDate = experience.EndDate == null ? "Present" : experience.EndDate?.ToString("MMMM YYYY");
                                    @endDate
                                }
                            </span>
                        </p>
                    </div>
                    <p class="fw-light ps-1">@experience.Description</p>
                </section>
            </li>
            }
        </ul>
    </div>