<div class="glass-box d-flex flex-column p-4 gap-3">
    <p class="fw-bold section-title">Skills</p>
    <div class="skills d-flex w-100 flex-row align-items-center justify-content-center"></div>
</div>